@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    /* Primary */
    --magenta-600: hsl(300, 43%, 22%);
    --pink-200: hsl(333, 80%, 67%);
    /* Neutral */
    --gray-magenta-300: hsl(303, 10%, 53%);
    --gray-magenta-100: hsl(300, 24%, 96%);
    --white-100: hsl(0, 0%, 100%);
    /* Typography */
    --ff: 'Spartan', sans-serif;
    --fs: 15px;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

body {
    position: relative;
    box-sizing: content-box;
    margin: 0;
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-regular);
    color: var(--magenta-600);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow-x: hidden;
}

main {
    margin: 4rem 0;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main::before {
    content: url(images/bg-pattern-top-mobile.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

main::after {
    content: url(images/bg-pattern-bottom-mobile.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-ratings {
    flex-direction: column;
    width: 100%;
    gap: 2.5rem;
}

.section-ratings > * {
    max-width: 550px;
}

.section-ratings header {
    text-align: center;
}

.section-ratings header h1 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.section-ratings header p {
    margin-bottom: 0;
    color: var(--gray-magenta-300);
}

.section-ratings .ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    gap: 1rem;
}

.ratings .rating {
    box-sizing: content-box;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: inherit;
    max-width: 450px;
    border-radius: 10px;
    background-color: var(--gray-magenta-100);
    gap: 1rem;
}

.rating.reviews {
    align-self: flex-start;
}

.rating.report-guru {
    align-self: center;
}

.rating.best-tech {
    align-self: flex-end;
} 

.rating figcaption {
    font-weight: var(--fw-bold);
    font-size: .8rem;
    height: auto;
}

.rating-stars {
    display: flex;
    gap: .5rem;
}

.section-testimonials {
    margin-top: 1.5rem;
    flex-flow: row wrap;
    width: 100%;
    gap: 1rem;
}

.card {
    flex: 1;
    box-sizing: border-box;
    margin: 0;

    color: var(--gray-magenta-100);
    background-color: var(--magenta-600);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    
}

.card .profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
}

.profile .picture {
    box-sizing: content-box;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 80px;
    overflow: hidden;
}

.picture img {
    width: 40px;
    height: 40px;
}

.profile .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.info > * {
    margin: 0;
    font-size: .8rem;
}

.info .buyer-status {
    color: var(--pink-200);
    font-weight: var(--fw-regular);
}

.card .testimonial {
    margin: 2rem 0 0;
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-weight: var(--fw-medium);
    min-width: 25ch;
}

@media screen and (min-width: 400px) {
    .ratings .rating {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
    }

    .rating-stars {
        margin-left: 2rem;
    }

    .rating figcaption {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 671px) {
    main {
        padding: 4rem 0;
    }

    .section-ratings header {
        text-align: center;
    }

    .section-ratings header h1 {
        margin: 0;
        font-size: 2.5rem;
        line-height: 2.5rem;
        max-width: 12ch;
    }

    .section-ratings header p {
        max-width: 40ch;
    }

    .section-ratings {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .ratings .rating {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .rating-stars,
    .rating figcaption {
        margin: 0 1rem;
    }
}

@media screen and (min-width: 888px) {

    main {
        width: 80%;
        margin: 0;
    }

    main::before {
        content: url(images/bg-pattern-top-desktop.svg);
        position: absolute;
        top: 0;
        left: -15%;
        z-index: -1;
    }

    main::after {
        content: url(images/bg-pattern-bottom-desktop.svg);
        position: absolute;
        bottom: 0;
        right: -15%;
        left: unset;
        z-index: -1;
    }

    .section-ratings {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .section-ratings header {
        text-align: left;
    }

    .section-ratings header p {
        max-width: 36ch;
    }

    .section-testimonials {
        margin-top: 1rem;
        flex-flow: row nowrap;
        height: 228px;
    }

    .card {
        box-sizing: border-box;
        margin: 0;
        padding: 1.5rem;
        height: 198px;
        width: 15ch;
    }
    
    .card.colton {
        align-self: flex-start;
    }

    .card.irene {
        align-self: center;
    }

    .card.anne {
        align-self: flex-end;
    }

    .card .testimonial {
        margin-top: 1rem;
        font-size: .6rem;
        line-height: 1.2rem;
        font-size: 1vw;
        width: inherit;
    }

}

@media screen and (min-width: 1176px) {
    main {
        padding: 0;
        height: 80%;
    }

    main::before {
        left: -10%;
    }

    main::after {
        right: -10%;
    }

    .section-testimonials {
        margin-top: 2rem;
    }

    .section-ratings header h1 {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }

    .section-ratings .rating {
        flex-direction: row;
        justify-content: flex-start;
        gap: 0;
    }

    .rating-stars{
        margin: 0 2rem;
    }

    .rating figcaption {
        margin: 0;
    }
}

@media screen and (min-width: 1225px) {
    main::before {
        left: -4%;
    }

    main::after {
        right: -4%;
    }

    .section-testimonials {
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 260px;
    }

    .card {
        padding: 2rem;
        height: 230px;
        width: unset;
        max-width: 28ch;
    }

    .card .testimonial {
        font-size: .8rem;
        width: unset;
    }
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
